.purple-link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background: $purple;
    font-family: armingrotesk-regular;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 6px;
    min-height: 2.75rem;
    padding: 0.375rem 1.5rem;
}

.mac-link {
    padding: unset !important; border: unset !important; border-radius: unset !important; background: transparent !important; display: flex !important;
    width: fit-content;
}

@media screen and (min-width: 1024px) {
    .purple-link, .mac-link {
        transition: .2s;

        &:focus {
            outline-color: #06a5ff;
            outline-offset: 4px;
        }

        &:hover {
            opacity: .8;
            transition: .2s;
        }
    }
}