.customers-section {
    padding-top: 2.5rem;
    overflow-x: hidden;

    .logo-container {
        display: flex;
        align-items: center;
        gap: 100px;
        width: max-content;
        animation: slider 100s linear infinite;

        @keyframes slider {
            100% {
                transform: translateX(-5091px);
            }
        }
    }
}