.customers-section {
    padding-top: 6.5rem;
    overflow-x: hidden;

    .logo-container {
        display: flex;
        align-items: center;
        gap: 100px;
        width: max-content;
        animation: slider 100s linear infinite;

        img {
            user-select: none;
        }
    }
}