.center-horizontally {
    display: flex;
    justify-content: center;
}

.download-section {
    background-color: rgb(237, 237, 224);
    width: 1160px;
    max-width: 1160px;
    border-radius: 2rem;
    padding: 3rem 1rem 2.5rem 1rem;
    margin: 7.5rem 1rem 0 1rem;

    h2 {
        font-size: 3rem;
        font-family: armingrotesk-black;
        color: #10284b;
        margin-bottom: 3rem;
        text-align: center;
    }

    .download-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        gap: 3rem 4rem;
        max-width: 334px;
        margin: auto;

        a {
            text-decoration: none;
            color: #10284b;
            font-family: armingrotesk-semibold;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 106px;
                height: 90px;
                margin-bottom: 1rem;
            }
        }
    }
}