.center-horizontally {
    display: flex;
    justify-content: center;
}

.download-section {
    background-color: rgb(237, 237, 224);
    width: 1160px;
    max-width: 1160px;
    border-radius: 2rem;
    padding: 3rem 1rem 2.5rem 1rem;
    margin: 7.5rem 1rem 0 1rem;

    h2 {
        font-size: 3rem;
        font-family: armingrotesk-black;
        color: #10284b;
        margin-bottom: 3rem;
        text-align: center;
    }

    .download-container {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        max-width: 334px;
        margin: auto;
        flex-direction: row-reverse;

        .flex-container-1, .flex-container-2 {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        a {
            text-decoration: none;
            color: #10284b;
            font-family: armingrotesk-semibold;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 150px;

            img {
                width: 106px;
                height: 90px;
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .download-section {
        .download-container {
            margin: unset;
            max-width: unset;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: [row] auto [row];

            .a, .b, .c, .d {
                grid-column: auto/span 2;
                grid-row: 1;
                
                &.a {
                    grid-column-start: 2 !important;
                }
            }

            .e, .f, .g, .h, .j {
                grid-column: auto/span 2;
                grid-row: 2;
            }
        }
    }
}