.features2-section {
    margin-top: 4rem;
    padding: 1rem;
    overflow-x: hidden;

    .outer-wrapper-div {
        margin: 4rem 0 7rem 0;
        padding: 2rem 0 1rem 0;
        display: flex;
        justify-content: center;
    }

    .inner-wrapper-div {
        position: relative;
        max-width: 960px;

        .blob1, .blob2 {
            position: absolute;
            z-index: -1;

            &.blob1 {
                width: 672px;
                top: -42px;
                left: -455px;
            }

            &.blob2 {
                width: 616px;
                bottom: -130px;
                right: -294px;
            }
        }
    }

    .features-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;

        .item {
            border-radius: 40px;
            line-height: 22px;
            color: $dark-blue;
            text-align: center;

            p {
                margin: 2rem 0;
                letter-spacing: .08rem;
            }

            img {
                margin: 2rem 0 0 0;
            }
        }

        .contrast-checker {
            background: $teal;
            padding: 0 2rem;
        }

        .focus-order {
            background: $yellow;
            padding: 0 2rem;
        }

        .landmarks {
            background: $light-red;
            padding: 0 2rem;
            overflow: hidden;

            img {
                margin: -.4rem 0 0 0;
                transform: translateY(6px);
            }
        }

        .vision-simulator {
            height: 376px;
            background: $light-purple;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                margin: unset;
                position: absolute;
                bottom: 2rem;
                padding: 0 1rem;
            }

            img {
                width: 1097px;
                max-width: 1097px;
                margin: 3rem 0 0 0;
            }
        }

        .touch-targets {
            background: $yellow;
            padding: 0 2rem;

            &.code-snippets {
                overflow: hidden;
                height: 376px;       
                position: relative;

                img {
                    width: 550px;
                    max-width: 550px;
                    transform: translate3d(-50%, -500px, 0px);
                    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                }

                p {
                    position: absolute;
                    bottom: 0px; left: 0; right: 0;
                }
            }
        }

        .works {
            background: $teal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 1rem;

            img {
                margin: 3rem 0 0 0;
            }

            .stark-logo-wrapper {
                width: 140px;
                height: 140px;
                border-radius: 36px;
                transform: translateY(-32px);
                box-shadow: rgba(0, 0, 0, 0.28) 0px 2.13592px 4.27184px;
                overflow: hidden;
                cursor: pointer;
                position: absolute;

                img {
                    margin: unset;
                }
            }

            p {
                margin: 3.5rem 0 2rem 0;
                padding: 0 1.5rem;
            }

            &.mac-works {
                justify-content: space-between;
                padding-bottom: 0;

                img {
                    padding: 2rem 0 0 0;
                }
            }
        }

        .education {
            background: $light-red;
            padding: 0 2rem;
            overflow: hidden;

            img {
                margin: -.4rem 0 0 0;
                transform: translateY(4.25px);
            }

            &.mac-education {
                overflow: hidden;
                height: 376px;
                position: relative;

                img {
                    height: unset;
                    width: 550px;
                    max-width: 550px;
                    transform: translate3d(-25px, -425px, 0px);
                }

                p {
                    position: absolute;
                    bottom: 0px; left: 0; right: 0;
                }
            }
        }

        .alt-text {
            background: $light-purple;
            padding: 0 2rem;

            img {
                margin: 3rem 0 0 0;
            }
        }

        .live-preview {
            background: $yellow;
            height: 376px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                position: absolute;
                top: 72px;
                width: 725px;
                right: 0;
                margin: unset;
            }

            &.mac-connects {
                flex-direction: column;
                align-items: center;

                img {
                    all: unset;
                    max-width: 400px;
                }
            }
        }

        .typography {
            background: $teal;
            padding: 0 2rem;

            img {
                margin: 3rem 0 0 0;
            }
        }

        .sso {
            background: $yellow;
            padding: 0 2rem;
        }

        .fast {
            background: $light-purple;
            height: 376px;
            padding: 1rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;

            p {
                margin: 2.5rem 0 0 0;
            }

            img {
                top: -2px;
                width: 900px;
                max-width: 900px;
                position: absolute;
                margin: unset;
            }

            &.mac-fast {
                img {
                    top: unset; bottom: -20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .features2-section {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:         
                "a b"
                "a c"
                "d d"
                "e f"
                "g f"
                "h i"
                "h j"
                "k j"
                "l l";

            .contrast-checker {
                grid-area: a;
            }

            .focus-order {
                grid-area: b ;
            }

            .landmarks {
                grid-area: c;
                
                img {
                    height: 81%;
                }
            }

            .vision-simulator {
                grid-area: d;
            }

            .touch-targets {
                grid-area: e;

                &.code-snippets {
                    img {
                        transform: translate3d(-36%, -500px, 0px);
                    }
                }
            }

            .works {
                grid-area: f;

                .stark-logo-wrapper {
                    width: 160px;
                    height: 160px;
                }
            }

            .education {
                grid-area: g;

                img {
                    height: 81%;
                }
            }

            .alt-text {
                grid-area: h;
            }

            .live-preview {
                grid-area: i;
            }

            .typography {
                grid-area: j;
            }
            
            .sso {
                grid-area: k;
            }

            .fast {
                grid-area: l;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .features2-section {
        .features-grid {
            .contrast-checker {
                img {
                    max-width: 360px;
                }
            }

            .focus-order {
                img {
                    max-width: 378px;
                }
            }

            .landmarks {
                img {
                    max-width: 390px;
                }
            }

            .touch-targets {
                img {
                    max-width: 342px;
                }
            }

            .works {
                img {
                    max-width: 376px;
                }
            }

            .education {
                img {
                    max-width: 342px;
                }
            }

            .alt-text {
                img {
                    max-width: 360px;
                }
            }

            .typography {
                img {
                    max-width: 360px;
                }
            }
            
            .sso {
                img {
                    max-width: 307px;
                }
            }
        }
    }
}
