.feature-section {
    padding: 1rem;
    display: flex;
    justify-content: center;

    .inner-wrapper-div {
        max-width: 1160px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        .text-container {
            order: 1;
            color: $dark-blue;

            .decoration-container {
                img {
                    display: none;
                }

                p {
                    letter-spacing: .08rem;
                    line-height: 22px;
                    margin: 0 0 1rem 0;
                    font-size: 1rem;
                    font-family: armingrotesk-regular;
                    font-weight: 700;
                    color: $purple;
                }
            }

            h2 {
                font-size: 3rem;
                font-family: armingrotesk-black;
                letter-spacing: -.01rem;
                line-height: 53px;
            }

            p {
                font-family: armingrotesk-normal;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 30px;
                margin: 1rem 0 2rem 0;
            }

            a {
                display: inline-flex;
                align-items: center;
                color: #fff;
                text-decoration: none;
                background: $purple;
                font-family: armingrotesk-regular;
                font-weight: 500;
                border: 2px solid transparent;
                border-radius: 6px;
                min-height: 2.75rem;
                padding: 0.375rem 1.5rem;
            }
        }

    }

    &:nth-child(1) {
        .image-container {
            position: relative;
            border-radius: 40px;
            overflow: hidden;
            padding: 40px 0 0 40px;
            display: flex;
            justify-content: flex-end;
            background: #99d6cc;

            img {
                min-width: 513px;
                width: 513px;
                filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                opacity: .8;
                transform: translateY(100px);
                transition: all 0.75s cubic-bezier(0.33, 1, 0.68, 1) 0.25s;

                &.slide-up {
                    opacity: 1;
                    transform: translateY(5px);
                    transition: all 0.75s cubic-bezier(0.33, 1, 0.68, 1) 0.25s;
                }
            }

        }
    }

    &:nth-child(2) {
        .image-container, .image-inner-wrapper {
            position: relative;
            height: 450px;
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                position: absolute;
                width: 250px;
                transform: rotate(-2deg) translate(-132px, 68px);
                filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;

                &.slide-left {
                    transform: rotate(-4deg) translate(-156px,68px);
                    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
                }

                
                &:nth-of-type(2) {
                    width: 261px;
                    transform: rotate(2deg) translate(34px, -12px);
                    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                    
                    &.slide-right {
                        transform: rotate(4deg) translate(58px,-12px);
                        transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
                    }
                }
            }
        }
    }

    &:nth-child(3) {
        .image-container {
            position: relative;
            border-radius: 40px;
            overflow: hidden;
            width: 100%;
            height: 400px;
            display: flex;
            background: $yellow;

            img {
                transform: rotate(-2deg) translate(50px, 60px);
                filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                position: absolute;
                left: -40px;
                width: 250px;
                transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;

                &.slide-left {
                    transform: rotate(-4deg) translate(26px,60px);
                    transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
                }

                &:nth-of-type(2) {
                    transform: rotate(2deg) translate(250px, 136px);
                    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                    left: -150px;
                    width: 261px;
                    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;

                    &.slide-right {
                        transform: rotate(4deg) translate(274px,136px);
                        transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
                    }
                }
            }
        }
    }

    &:nth-child(4) {
        .image-container {
            position: relative;
            border-radius: 40px;
            background: #99d6cc;
            display: flex;
            justify-content: center;
            overflow: hidden;

            .image-inner-wrapper {
                transform: translateY(-40px);
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 100%;
                margin-bottom: 2rem;
                filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
                transform: translateY(-64px);
                width: 100%;
                transition: all 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;

                &.slide-down1, &.slide-down2 {
                    transform: translateY(0);
                    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;
                }

                &.slide-down2 {
                    transition: all 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .feature-section {
        &:nth-child(2) {
            .image-container, .image-inner-wrapper {
                height: 666px;
                display: flex;
                justify-content: center;

                img {
                    width: 347px;

                    &:nth-of-type(2) {
                        width: 358px;
                    }
                }
            }
        }

        &:nth-child(3) {
            .image-container {
                height: 555px;
                display: flex;

                img, img:nth-of-type(2) {
                    width: 361px;
                    left: 0;
                }
            }
        }

        &:nth-child(4) {
            .image-container {
                img {
                    width: 361px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .feature-section { 
        .inner-wrapper-div {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .text-container {
                margin: auto 0;
                
                .decoration-container {
                    position: relative;

                    img {
                        display: unset;
                        position: absolute;
                        top: -232px;
                        left: -88px;
                        min-width: 75px;
                        min-height: 241px;
                        width: 75px;
                        height: 241px;
                        max-width: 75px;
                        max-height: 241px;
                    }
                }

                a {
                    transition: .2s;

                    &:focus {
                        outline-color: #06a5ff;
                        outline-offset: 4px;
                    }

                    &:hover {
                        opacity: .9;
                        transition: .2s;
                    }
                }
            }

        }

        &:nth-child(odd) {
            .inner-wrapper-div {
                .image-container {
                    order: 2;
                }
            }
        }
    }
}