footer {
    background: $dark-blue;
    padding: 5rem 1rem;

    .h2-svg-container {
        h2 {
            color: #fff;
            text-align: start;
            max-width: 772px;
        }
    }

    .heading-logo-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    nav {
        margin: 4rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        gap: 2.5rem 1.5rem;

        .nav-ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            
            h3 {
                color: #fff;
                font-size: .875rem;
                font-family: armingrotesk-black;
                line-height: 21px;
                letter-spacing: .08rem;
            }

            li {
                margin-bottom: .5rem;
                font-family: armingrotesk-semibold;
                
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}