footer {
    background: $dark-blue;
    padding: 5rem 1rem;
    margin-top: 6rem;

    .footer-inner-wrapper {
        max-width: 1200px;
        margin: auto;
    }

    .h2-svg-container {
        h2 {
            color: #fff;
            text-align: start;
            max-width: 772px;
        }
    }

    .heading-logo-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    nav {
        margin: 4rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        gap: 2.5rem 1.5rem;

        .nav-ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            
            h3 {
                color: #fff;
                font-size: .875rem;
                font-family: armingrotesk-black;
                line-height: 21px;
                letter-spacing: .08rem;
            }

            li {
                margin-bottom: .5rem;
                font-family: armingrotesk-semibold;
                
                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .socials-copyright-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem 1rem;

        nav {
            margin: unset;
        }

        .socials {
            list-style-type: none;
            display: flex;
            gap: .75rem;

            a {
                transition: .2s;

                &:hover, &:focus {
                    transform: scale(1.2);
                    transition: .2s;

                    img {
                        transform: scale(1.2);
                        transition: .2s;
                    }
                }
            }

            img {
                width: 30px;
            }
        }

        p {
            color: $yellow;
            letter-spacing: .08rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .h2-svg-container {
            h2 {
                font-size: 3.5rem;
            }
        }
    }
}