.get-started-section {
    padding: 1rem;
    margin-top: 160px;

    .h2-svg-container {
        h2 {
            position: relative;
            font-size: 3rem;
            color: $dark-blue;
            font-family: armingrotesk-black;
            font-weight: 900;
            line-height: 53px;
            letter-spacing: -.01rem;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        img {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .get-started-section {
        .h2-svg-container {
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                position: absolute;
                max-width: 960px;
                font-size: 3.5rem;
                z-index: 1;
            }

            img {
                display: unset;
                margin-left: 6.375rem;
                transform: scaleX(1.1825) scaleY(1.025) translateY(-8px);
            }
        }
    }
}