.get-started-section {
    padding: 1rem;
    margin-top: 160px;

    .steps-container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        overflow: auto;
    }
}

@media screen and (min-width: 1024px) {
    .get-started-section {
        .h2-svg-container {
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                position: absolute;
                max-width: 960px;
                font-size: 3.5rem;
                z-index: 1;
            }

            img {
                display: unset;
                margin-left: 6.375rem;
                transform: scaleX(1.1825) scaleY(1.025) translateY(-8px);
            }
        }
        
        .steps-container {
            background: #edede0;
            border-radius: 2rem;
            gap: 73.7px;
            padding: 64px 100px;
            max-width: 1160px;
            margin: 7rem auto 0 auto;
        }
    }

}