.get-started-section {
    padding: 1rem;
    margin-top: 160px;

    .steps-container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        overflow: auto;
    }
}

@media screen and (min-width: 1024px) {
    .get-started-section { 
        .steps-container {
            background: #edede0;
            border-radius: 2rem;
            gap: 73.7px;
            padding: 64px 100px;
            max-width: 1160px;
            margin: 7rem auto 0 auto;
        }
    }

}