.h2-svg-container {
    display: flex;
    justify-content: center;

    h2 {
        position: relative;
        font-size: 3rem;
        color: $dark-blue;
        font-family: armingrotesk-black;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: -.01rem;
        text-align: center;
    }

    img {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .video-section {
        .h2-svg-container {
            align-items: center;

            h2 {
                position: absolute;
                z-index: 1;
                font-size: 3.5rem;
                line-height: 53px;
            }

            img {
                display: unset;
                margin-left: 38.75rem;
                margin-top: 3rem;
                -moz-transform: translateX(.5rem);
            }
        }
    }

    .testimonial-section {
        .h2-svg-container {
            display: flex;
            justify-content: center;
            width: 100%;
            
            h2 {
                font-size: 3.5rem;
                line-height: 62px;
                position: absolute;
            }
            
            img {
                display: unset;
                margin-top: 3.6rem;
            }
        }
    }

    .get-started-section {
        .h2-svg-container {
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                position: absolute;
                max-width: 960px;
                font-size: 3.5rem;
                z-index: 1;
            }

            img {
                display: unset;
                margin-left: 6.375rem;
                transform: scaleX(1.1825) scaleY(1.025) translateY(-8px);
            }
        }
    }

    .features2-section {
        .h2-svg-container {
            position: relative;
            display: flex;
            justify-content: center;

            h2 {
                position: absolute;
                max-width: 960px;
                font-size: 3.5rem;
                z-index: 1;
            }

            img {
                display: unset;
                transform: translate(90px, 35px);

                &:nth-of-type(2) {
                    width: 60px;
                    height: 77px;
                    transform: translate(115px, -28px);
                }
            }
        }
    }
}

//testimonials h2-svg-container padding-bottom