header {
    background: url("../assets/images_homepage/homepage-gradient-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-menu-container {
    padding: 1rem;

    .logo {
        width: 2rem;
        height: 2rem;
    }

    button {
        display: none;
        width: 33px;
        height: 33px;
        position: relative;
        background: #f6f6eb;
        border-radius: 50%;
        border: none;

        .hamburger {
            width: 18px;
            height: 2px;
            background: #381fd1;
            border-radius: 8px;
            transition: .1s;
            margin: auto;

            &::before, &::after {
                content: "";
                width: 18px;
                height: 2px;
                background: #381fd1;
                border-radius: 8px;
                position: absolute;
                transition: .1s;
                left: 0;
                right: 0;
                margin: auto;
            }
            
            &::before {
                top: 10px;
            }

            &::after {
                bottom: 10px;
            }

            &.open {
                &::before {
                    opacity: 0;
                    transition: .1s;
                }

                transform: translate3d(0,0,0) rotate(45deg);
                transition: .1s;

                &::after {
                    bottom: .175rem;
                    transform: translate3d(0, 3px, 0) rotate(-90deg);
                    transition: .1s;
                }
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-link--sign-up {
            background: #f6f6eb;
            text-decoration: none;
            height: 2rem;
            display: grid;
            place-content: center;
            font-size: .875rem;
            border: 2px solid transparent;
            border-radius: 6px;
            padding: 0 1rem;
        }
        
        a, span {
            color: #381fd1;
            font-family: armingrotesk-black;
            letter-spacing: .08rem;
        }

        .nav-ul {
            display: none;
        }
    }
}

@media screen and (min-width: 375px) {
    .nav-menu-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        position: relative;

        button {
            display: unset;
        }

        nav {
            flex-grow: 1;
            flex-wrap: wrap;

            .nav-ul {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                border: 1px solid red;
                background: #f6f6eb;
                width: 100%;
                position: fixed;
                top: 68px;
                bottom: 0;
                left: 0;
                transform: translateX(100%);
                transition: .35s;
                padding: 3rem 1rem;
                list-style-type: none;
                visibility: hidden;

                .nav-product-submenu {
                    margin-top: 2rem;
                    list-style-type: none;
                    padding: 1rem 2rem 1rem 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-left: 1px solid #e5e5e6;
                }
                
                &.show {
                    visibility: visible;
                    transform: translateX(0);
                    transition: .35s;
                }
            }
        }
    }
}