.h2-svg-container {
    display: flex;
    justify-content: center;

    h2 {
        position: relative;
        font-size: 3rem;
        color: $dark-blue;
        font-family: armingrotesk-black;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: -.01rem;
        text-align: center;
    }

    img {
        display: none;
    }
}

.testimonial-section {
    .h2-svg-container {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .video-section, .testimonial-section, .get-started-section, .features2-section {
        h2 {
            position: absolute;
            max-width: 960px;
            font-size: 3.5rem;
            line-height: 62px;
            z-index: 1;
        }

        .h2-svg-container {
            img {
                display: unset;
            }
        }

        &.get-started-section {
            h2 {
                line-height: 53px;
            }
        }
    }

    .video-section {
        .h2-svg-container {
            img {
                margin-left: 38.75rem;
                margin-top: 3.5rem;
                -moz-transform: translateX(.5rem);
            }
        }
    }

    .testimonial-section {
        .h2-svg-container {
            img {
                margin-top: 3.6rem;
            }
        }
    }

    .get-started-section {
        .h2-svg-container {
            img {
                margin-left: 6.375rem;
                transform: scaleX(1.1825) scaleY(1.025) translateY(-8px);
            }
        }
    }

    .features2-section {
        .h2-svg-container {
            img {
                transform: translate(90px, 46px);

                &:nth-of-type(2) {
                    width: 60px;
                    height: 77px;
                    transform: translate(115px, -28px);
                }
            }
        }
    }
}