.testimonial-section {
    margin-top: 160px;
    padding: 1rem;
    
    .h2-svg-container {
        position: relative;
        
        h2 {
            font-family: armingrotesk-black;
            font-size: 3rem;
            letter-spacing: -.01rem;
            line-height: 53px;
            color: #10284b;
            text-align: center;

        }

        img {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .testimonial-section {
        .h2-svg-container {
            display: flex;
            justify-content: center;
            width: 100%;
            
            h2 {
                font-size: 3.5rem;
                line-height: 62px;
                position: absolute;
            }
            
            img {
                display: unset;
                margin-top: 3.6rem;
            }
        }
    }
}