.testimonials-container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding-top: 40px;
}

.testimonial {
    border: 1px solid red;
    background: $purple;

    img {
        width: 80px;
        border-radius: 50%;
    }
}