@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMonoBold-1d29748c6ba7e786c050c2ba9f0e73b1.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: roboto-mono;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./components/header";