@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMonoBold-1d29748c6ba7e786c050c2ba9f0e73b1.ttf);
}

@font-face {
    font-family: armingrotesk-normal;
    src: url(fonts/ArminGrotesk-Normal.ttf);
}

@font-face {
    font-family: armingrotesk-black;
    src: url(fonts/ArminGrotesk-Black.ttf);
}

@font-face {
    font-family: armingrotesk-regular;
    src: url(fonts/ArminGrotesk-Regular.ttf);
}

@font-face {
    font-family: armingrotesk-semibold;
    src: url(fonts/ArminGrotesk-SemiBold.ttf);
}

$purple: #381fd1;
$dark-blue: #10284b;
$yellow: #fedb63;
$light-yellow: #f6f6eb;
$light-red: #fc6f6b;
$light-purple: #a599f0;
$light-gray: #edede0;
$teal: #99d6cc;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion:reduce) {
    html {
        scroll-behavior: auto;
    }
}

::selection {
    background: $purple;
    color: #fff;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: roboto-mono;
    background: #f6f6eb;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./components/keyframes";
@import "./components/header";
@import "./components/video";
@import "./components/customers";
@import "./components/download";
@import "./components/feature";
@import "./components/cta";
@import './components/testimonials';
@import "./components/getstarted";
@import "./components/step";
@import "./components/features2";

/* reusable */
@import "./components/purplelink";
@import "./components/headingLevel2";