@font-face {
    font-family: roboto-mono;
    src: url(fonts/RobotoMonoBold-1d29748c6ba7e786c050c2ba9f0e73b1.ttf);
}

@font-face {
    font-family: armingrotesk-normal;
    src: url(fonts/ArminGrotesk-Normal.ttf);
}

@font-face {
    font-family: armingrotesk-black;
    src: url(fonts/ArminGrotesk-Black.ttf);
}

@font-face {
    font-family: armingrotesk-regular;
    src: url(fonts/ArminGrotesk-Regular.ttf);
}

@font-face {
    font-family: armingrotesk-semibold;
    src: url(fonts/ArminGrotesk-SemiBold.ttf);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: roboto-mono;
    background: #f6f6eb;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./components/header";