@font-face {
  font-family: roboto-mono;
  src: url(fonts/RobotoMonoBold-1d29748c6ba7e786c050c2ba9f0e73b1.ttf);
}
@font-face {
  font-family: armingrotesk-normal;
  src: url(fonts/ArminGrotesk-Normal.ttf);
}
@font-face {
  font-family: armingrotesk-black;
  src: url(fonts/ArminGrotesk-Black.ttf);
}
@font-face {
  font-family: armingrotesk-regular;
  src: url(fonts/ArminGrotesk-Regular.ttf);
}
@font-face {
  font-family: armingrotesk-semibold;
  src: url(fonts/ArminGrotesk-SemiBold.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
::-moz-selection {
  background: #381fd1;
  color: #fff;
}
::selection {
  background: #381fd1;
  color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: roboto-mono;
  background: #f6f6eb;
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase !important;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes rotate1 {
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes rotate1 {
  100% {
    transform: rotate(-1turn);
  }
}
@-webkit-keyframes pop {
  0%, 17.5% {
    opacity: 0;
    transform: scale(0);
  }
  20%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pop {
  0%, 17.5% {
    opacity: 0;
    transform: scale(0);
  }
  20%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes background {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 150% 120%;
  }
}
@keyframes background {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 150% 120%;
  }
}
@-webkit-keyframes slider {
  100% {
    transform: translateX(-5091px);
  }
}
@keyframes slider {
  100% {
    transform: translateX(-5091px);
  }
}
header {
  background-size: cover;
  background-repeat: no-repeat;
  background: #381fd1;
}

.header-transparent {
  background-image: none;
  background: unset;
}
.header-transparent .introduction {
  color: #381fd1 !important;
}
.header-transparent h1, .header-transparent .description {
  color: #10284b !important;
}
.header-transparent .links-wrapper a:not(.mac-link) {
  background: #381fd1 !important;
  color: #fff !important;
}
.header-transparent .links-wrapper a:not(.mac-link).learn {
  background: transparent !important;
  color: #381fd1 !important;
  border-color: #381fd1 !important;
}
.header-transparent .links-wrapper a:not(.mac-link).learn:hover {
  background: #381fd1 !important;
  color: #fff !important;
}

.text-illustration-wrapper {
  padding: 1rem;
}
.text-illustration-wrapper .text-container {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-illustration-wrapper .text-container .introduction {
  color: #fedb63;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 22px;
}
.text-illustration-wrapper .text-container h1 {
  font-size: 3.5rem;
  font-weight: 900;
  font-family: armingrotesk-black;
  color: #fff;
  line-height: 1.1;
}
.text-illustration-wrapper .text-container .description {
  color: #fff;
  font-size: 1.25rem;
  font-family: armingrotesk-regular;
  line-height: 30px;
}
.text-illustration-wrapper .text-container .links-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-illustration-wrapper .text-container .links-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.02rem;
  min-height: 2.75rem;
  padding: 0.375rem 1.5rem;
  border-radius: 6px;
  border: 2px solid transparent;
}
.text-illustration-wrapper .text-container .links-wrapper a.free {
  background: #fedb63;
  color: #10284b;
  font-family: armingrotesk-regular;
  font-weight: 500;
}
.text-illustration-wrapper .text-container .links-wrapper a.learn {
  background: transparent;
  border-color: #fedb63;
  color: #fedb63;
  font-family: armingrotesk-semibold;
}

@media screen and (min-width: 400px) {
  .text-illustration-wrapper .text-container .links-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .text-illustration-wrapper .text-container h1 {
    font-size: 5.375rem;
    letter-spacing: -0.06rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-image: url("../assets/images_header/homepage-gradient-bg.webp");
    animation: background 5s ease-in-out infinite alternate-reverse;
  }
  .centered-horizontally {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .text-illustration-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1160px;
    justify-content: center;
  }
  .text-illustration-wrapper .links-arrow-container {
    position: relative;
  }
  .text-illustration-wrapper .links-arrow-container .yellow-arrow {
    width: 142px;
    height: 166px;
    position: absolute;
    top: -16px;
    left: 442px;
  }
  .text-illustration-wrapper .links-arrow-container .links-wrapper a:focus {
    outline-color: #06a5ff;
    outline-offset: 4px;
  }
  .text-illustration-wrapper .links-arrow-container .links-wrapper a.free {
    transition: 0.1s;
  }
  .text-illustration-wrapper .links-arrow-container .links-wrapper a.free:hover {
    opacity: 0.9;
    transition: 0.1s;
  }
  .text-illustration-wrapper .links-arrow-container .links-wrapper a.learn {
    transition: 0.2s;
  }
  .text-illustration-wrapper .links-arrow-container .links-wrapper a.learn:hover {
    background: #fedb63;
    color: #10284b;
    transition: 0.2s;
  }
  .text-illustration-wrapper .header-image-container {
    position: relative;
  }
  .text-illustration-wrapper .header-image-container .header-img {
    position: absolute;
  }
  .text-illustration-wrapper .header-image-container .sparkle {
    position: absolute;
    width: 40px;
  }
  .text-illustration-wrapper .header-image-container .header-avatar-circle, .text-illustration-wrapper .header-image-container .header-avatar-circle-2 {
    position: absolute;
  }
  .text-illustration-wrapper .header-image-container .header-avatar-circle {
    width: 184px;
    left: 494px;
    top: 114px;
    -webkit-animation: rotate 40s linear infinite;
            animation: rotate 40s linear infinite;
  }
  .text-illustration-wrapper .header-image-container .header-avatar-circle-2 {
    width: 151px;
    left: 87px;
    top: 523px;
    -webkit-animation: rotate1 30s linear infinite;
            animation: rotate1 30s linear infinite;
  }
  .text-illustration-wrapper .header-image-container .alttext, .text-illustration-wrapper .header-image-container .contrast, .text-illustration-wrapper .header-image-container .focusorder {
    opacity: 0;
    width: 68px;
    position: absolute;
    transform: scale(0);
    transform-origin: bottom left;
  }
  .text-illustration-wrapper .header-image-container .alttext.contrast, .text-illustration-wrapper .header-image-container .contrast.contrast, .text-illustration-wrapper .header-image-container .focusorder.contrast {
    left: 546px;
    top: 68px;
    -webkit-animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 8s forwards;
            animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 8s forwards;
  }
  .text-illustration-wrapper .header-image-container .alttext.focusorder, .text-illustration-wrapper .header-image-container .contrast.focusorder, .text-illustration-wrapper .header-image-container .focusorder.focusorder {
    left: 614px;
    top: 480px;
    -webkit-animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 1s forwards;
            animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 1s forwards;
  }
  .text-illustration-wrapper .header-image-container .alttext.alttext, .text-illustration-wrapper .header-image-container .contrast.alttext, .text-illustration-wrapper .header-image-container .focusorder.alttext {
    left: 56px;
    top: 506px;
    -webkit-animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 4s forwards;
            animation: pop 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) 4s forwards;
  }
}
.sketch-download-header-wrapper .header-image-container, .info-header .header-image-container {
  display: none;
}
.sketch-download-header-wrapper.info-header h1, .info-header.info-header h1 {
  max-width: 350px;
}
.sketch-download-header-wrapper.info-header .links-arrow-container, .sketch-download-header-wrapper.info-header .description, .info-header.info-header .links-arrow-container, .info-header.info-header .description {
  display: none;
}
@media screen and (min-width: 1024px) {
  .sketch-download-header-wrapper.info-header .centered-horizontally, .info-header.info-header .centered-horizontally {
    display: unset;
  }
  .sketch-download-header-wrapper.info-header .centered-horizontally .text-container, .info-header.info-header .centered-horizontally .text-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sketch-download-header-wrapper.sketch-download-header-wrapper header, .info-header.sketch-download-header-wrapper header {
  background-image: url("../assets/images_header/homepage-gradient-bg.webp");
  animation: background 5s ease-in-out infinite alternate-reverse;
}
.sketch-download-header-wrapper .centered-horizontally, .info-header .centered-horizontally {
  padding: 1rem;
}
.sketch-download-header-wrapper .text-illustration-wrapper, .info-header .text-illustration-wrapper {
  display: unset;
  max-width: 960px;
  padding: unset !important;
}
.sketch-download-header-wrapper .description, .info-header .description {
  max-width: 582px;
}
.sketch-download-header-wrapper .yellow-arrow, .info-header .yellow-arrow {
  top: 80px;
  left: 482px !important;
  transform: rotate(45deg);
}

.header-transparent .dropdown-button {
  color: #381fd1 !important;
}
.header-transparent a {
  color: #381fd1 !important;
}
.header-transparent a:not(.nav-link--sign-up):hover {
  border-color: #381fd1 !important;
}
.header-transparent a.nav-link--sign-up {
  background: #381fd1 !important;
  color: #fff !important;
}
.header-transparent a.nav-link--sign-up:hover {
  background: #7e6de9 !important;
}

.nav-menu-container {
  padding: 1rem 1rem 0 1rem;
  height: 4rem;
}
.nav-menu-container .logo, .nav-menu-container .logo-link {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: 0.2s;
}
.nav-menu-container button {
  display: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  background: #f6f6eb;
  border-radius: 50%;
  border: none;
}
.nav-menu-container button .hamburger {
  width: 18px;
  height: 2px;
  background: #381fd1;
  border-radius: 8px;
  transition: 0.1s;
  margin: auto;
}
.nav-menu-container button .hamburger::before, .nav-menu-container button .hamburger::after {
  content: "";
  width: 18px;
  height: 2px;
  background: #381fd1;
  border-radius: 8px;
  position: absolute;
  transition: 0.1s;
  left: 0;
  right: 0;
  margin: auto;
}
.nav-menu-container button .hamburger::before {
  top: 10px;
}
.nav-menu-container button .hamburger::after {
  bottom: 10px;
}
.nav-menu-container button .hamburger.open {
  transform: translate3d(0, 0, 0) rotate(45deg);
  transition: 0.1s;
}
.nav-menu-container button .hamburger.open::before {
  opacity: 0;
  transition: 0.1s;
}
.nav-menu-container button .hamburger.open::after {
  bottom: 0.175rem;
  transform: translate3d(0, 3px, 0) rotate(-90deg);
  transition: 0.1s;
}
.nav-menu-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu-container nav .nav-link--sign-up {
  background: #f6f6eb;
  text-decoration: none;
  height: 2rem;
  display: grid;
  place-content: center;
  font-size: 0.875rem;
  border: 2px solid transparent;
  padding: 0 1rem;
}
.nav-menu-container nav a, .nav-menu-container nav span {
  border-radius: 6px;
  color: #381fd1;
  font-family: armingrotesk-black;
  letter-spacing: 0.08rem;
  font-size: 0.875rem;
  text-decoration: none;
}
.nav-menu-container nav .nav-ul {
  display: none;
}

@media screen and (min-width: 375px) {
  .nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
  }
  .nav-menu-container button {
    display: unset;
  }
  .nav-menu-container nav {
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .nav-menu-container nav .nav-ul {
    border-top: 1px solid #e5e5e6;
    display: flex;
    flex-direction: column;
    background: #f6f6eb;
    width: 100%;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: 0.35s;
    padding: 1.5rem 1rem;
    list-style-type: none;
    visibility: hidden;
    height: calc(100vh - 64px);
    overflow: auto;
    z-index: 99;
  }
  .nav-menu-container nav .nav-ul li > a {
    display: block;
    height: 100%;
  }
  .nav-menu-container nav .nav-ul li:not(:nth-child(1)) {
    border-bottom: 1px solid #cbcbcd;
    padding: 1.5rem 0;
    height: 70px;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu {
    margin: 1rem 0 0 0;
    list-style-type: none;
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e6;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu li {
    border-bottom: unset;
    padding: 0.75rem 0;
    height: unset;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu a {
    font-size: 1rem;
    font-family: armingrotesk-semibold;
    font-weight: 500;
    letter-spacing: 0;
  }
  .nav-menu-container nav .nav-ul.show {
    visibility: visible;
    transform: translateX(0);
    transition: 0.35s;
  }
}
@media screen and (min-width: 1024px) {
  .nav-menu-container {
    max-width: 960px;
    margin: auto;
    padding: unset;
  }
  .nav-menu-container .logo-link:hover {
    opacity: 0.9;
    transition: 0.2s;
  }
  .nav-menu-container button {
    display: none;
  }
  .nav-menu-container button.dropdown-button {
    border: none;
    width: unset;
    height: unset;
    background: unset;
    display: unset;
    font-family: armingrotesk-black;
    font-size: 0.875rem;
    letter-spacing: 0.08rem;
    color: #f6f6eb;
    display: flex;
    align-items: center;
    gap: 0.125rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 0 0.5rem;
    height: 32px;
  }
  .nav-menu-container button.dropdown-button:hover {
    border: 2px solid #f6f6eb;
  }
  .nav-menu-container nav .nav-ul {
    padding: 0 1rem;
    height: 100%;
    position: unset;
    visibility: unset;
    border-top: unset;
    transform: unset;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
    overflow: unset;
    flex-direction: row;
    background: unset;
    flex-grow: 1;
    justify-content: space-around;
    transition: unset;
  }
  .nav-menu-container nav .nav-ul.nav-ul li {
    border-bottom: unset;
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;
  }
  .nav-menu-container nav .nav-ul.nav-ul li a {
    height: 32px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: 0.2s;
  }
  .nav-menu-container nav .nav-ul.nav-ul li a:hover {
    border: 2px solid #f6f6eb;
    transition: 0.2s;
  }
  .nav-menu-container nav .nav-ul a, .nav-menu-container nav .nav-ul span {
    color: #f6f6eb;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu {
    display: flex;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 204px;
    background: #fff;
    padding: 0.5rem 0;
    gap: 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu li, .nav-menu-container nav .nav-ul .nav-product-submenu a {
    width: 100%;
    height: 36px;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu a {
    color: #381fd1;
    padding: 1rem;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu a:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu a:hover {
    background: #f3f2fc;
    border-color: transparent !important;
    border-radius: 0;
  }
  .nav-menu-container nav .nav-ul .nav-product-submenu.show {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
  }
  .nav-menu-container nav .nav-link--sign-up {
    transition: 0.1s;
  }
  .nav-menu-container nav .nav-link--sign-up:hover {
    background: #edede0;
    transition: 0.1s;
  }
}
.video-section {
  padding: 120px 1rem 1rem 1rem;
  max-width: 960px;
  margin: auto;
}
.video-section .video-container {
  overflow: hidden;
  border-radius: 2rem;
  margin-top: 3rem;
  aspect-ratio: 16/9;
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
  background-color: #f3f2fc;
}
.video-section .video-container .video-subcontainer {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-section .video-container .video-subcontainer .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video-section .video-container .video-subcontainer .play {
  z-index: 9;
  border: none;
  background: transparent;
  border-radius: 50%;
}
.video-section p {
  max-width: 734px;
  margin: 40px auto 0px;
  font-size: 1.25rem;
  line-height: 30px;
  color: #10284b;
  text-align: center;
  font-family: armingrotesk-regular;
}

@media screen and (min-width: 1024px) {
  .video-section {
    padding: 120px 0 1rem 0;
  }
}
.customers-section {
  padding-top: 6.5rem;
  overflow-x: hidden;
}
.customers-section .logo-container {
  display: flex;
  align-items: center;
  gap: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: slider 100s linear infinite;
          animation: slider 100s linear infinite;
}
.customers-section .logo-container img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.download-section {
  background-color: #edede0;
  width: 1160px;
  max-width: 1160px;
  border-radius: 2rem;
  padding: 3rem 1rem 2.5rem 1rem;
  margin: 7.5rem 1rem 0 1rem;
}
.download-section h2 {
  font-size: 3rem;
  font-family: armingrotesk-black;
  color: #10284b;
  margin-bottom: 3rem;
  text-align: center;
}
.download-section .download-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 334px;
  margin: auto;
  flex-direction: row-reverse;
}
.download-section .download-container .flex-container-1, .download-section .download-container .flex-container-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .download-section .download-container {
    margin: unset;
    max-width: unset;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .download-section .download-container .flex-container-1, .download-section .download-container .flex-container-2 {
    flex-direction: row;
    gap: 4rem;
  }
}
.platform-download-link {
  text-decoration: none;
  color: #10284b;
  font-family: armingrotesk-semibold;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}
.platform-download-link img {
  width: 106px;
  height: 90px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .platform-download-link img {
    transition: 0.2s;
  }
  .platform-download-link:nth-child(odd):hover img {
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.16));
    transform: rotate(-4deg) scale(1.02);
    transition: 0.2s;
  }
  .platform-download-link:nth-child(even):hover img {
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.16));
    transform: rotate(5deg) scale(1.02);
    transition: 0.2s;
  }
}
.feature-section {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.feature-section .inner-wrapper-div {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.feature-section .inner-wrapper-div .text-container {
  order: 1;
  color: #10284b;
}
.feature-section .inner-wrapper-div .text-container .decoration-container img {
  display: none;
}
.feature-section .inner-wrapper-div .text-container .decoration-container p {
  letter-spacing: 0.08rem;
  line-height: 22px;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-family: armingrotesk-regular;
  font-weight: 700;
  color: #381fd1;
}
.feature-section .inner-wrapper-div .text-container h2 {
  font-size: 3rem;
  font-family: armingrotesk-black;
  letter-spacing: -0.01rem;
  line-height: 53px;
}
.feature-section .inner-wrapper-div .text-container p {
  font-family: armingrotesk-normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  margin: 1rem 0 2rem 0;
}
.feature-section:nth-child(1) .image-container {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  padding: 40px 0 0 40px;
  display: flex;
  justify-content: flex-end;
  background: #99d6cc;
}
.feature-section:nth-child(1) .image-container img {
  min-width: 513px;
  width: 513px;
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
  opacity: 0.8;
  transform: translateY(100px);
  transition: all 0.75s cubic-bezier(0.33, 1, 0.68, 1) 0.25s;
}
.feature-section:nth-child(1) .image-container img.slide-up {
  opacity: 1;
  transform: translateY(5px);
  transition: all 0.75s cubic-bezier(0.33, 1, 0.68, 1) 0.25s;
}
.feature-section:nth-child(2) {
  overflow-x: hidden;
}
.feature-section:nth-child(2) .image-container, .feature-section:nth-child(2) .image-inner-wrapper {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.feature-section:nth-child(2) .image-container img, .feature-section:nth-child(2) .image-inner-wrapper img {
  position: absolute;
  width: 250px;
  transform: rotate(-2deg) translate(-132px, 68px);
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 30px);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(2) .image-container img.slide-left, .feature-section:nth-child(2) .image-inner-wrapper img.slide-left {
  transform: rotate(-4deg) translate(-156px, 68px);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(2) .image-container img:nth-of-type(2), .feature-section:nth-child(2) .image-inner-wrapper img:nth-of-type(2) {
  width: 261px;
  transform: rotate(2deg) translate(34px, -12px);
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 18px 15px);
}
.feature-section:nth-child(2) .image-container img:nth-of-type(2).slide-right, .feature-section:nth-child(2) .image-inner-wrapper img:nth-of-type(2).slide-right {
  transform: rotate(4deg) translate(58px, -9px);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(3) .image-container {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  background: #fedb63;
}
.feature-section:nth-child(3) .image-container img {
  transform: rotate(-2deg) translate(50px, 60px);
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
  position: absolute;
  left: -40px;
  width: 250px;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(3) .image-container img.slide-left {
  transform: rotate(-4deg) translate(26px, 60px);
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(3) .image-container img:nth-of-type(2) {
  transform: rotate(2deg) translate(250px, 136px);
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
  left: -150px;
  width: 261px;
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(3) .image-container img:nth-of-type(2).slide-right {
  transform: rotate(4deg) translate(274px, 136px);
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.25s;
}
.feature-section:nth-child(4) .image-container {
  position: relative;
  border-radius: 40px;
  background: #99d6cc;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.feature-section:nth-child(4) .image-container .image-inner-wrapper {
  transform: translateY(-40px);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-section:nth-child(4) .image-container img {
  width: 100%;
  margin-bottom: 2rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
  transform: translateY(-64px);
  width: 100%;
  transition: all 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;
}
.feature-section:nth-child(4) .image-container img.slide-down1, .feature-section:nth-child(4) .image-container img.slide-down2 {
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;
}
.feature-section:nth-child(4) .image-container img.slide-down2 {
  transition: all 0.75s cubic-bezier(0.34, 1.56, 0.64, 1) 0.15s;
}
.feature-section.feature-mac-1 .image-container, .feature-section.feature-mac-2 .image-container, .feature-section.feature-mac-3 .image-container, .feature-section.feature-mac-4 .image-container, .feature-section.feature-rest-1 .image-container, .feature-section.feature-rest-2 .image-container, .feature-section.feature-rest-3 .image-container, .feature-section.feature-rest-4 .image-container {
  all: unset;
}
.feature-section.feature-mac-1 .image-container .image-inner-wrapper, .feature-section.feature-mac-2 .image-container .image-inner-wrapper, .feature-section.feature-mac-3 .image-container .image-inner-wrapper, .feature-section.feature-mac-4 .image-container .image-inner-wrapper, .feature-section.feature-rest-1 .image-container .image-inner-wrapper, .feature-section.feature-rest-2 .image-container .image-inner-wrapper, .feature-section.feature-rest-3 .image-container .image-inner-wrapper, .feature-section.feature-rest-4 .image-container .image-inner-wrapper {
  all: unset;
}
.feature-section.feature-mac-1 .image-container img, .feature-section.feature-mac-2 .image-container img, .feature-section.feature-mac-3 .image-container img, .feature-section.feature-mac-4 .image-container img, .feature-section.feature-rest-1 .image-container img, .feature-section.feature-rest-2 .image-container img, .feature-section.feature-rest-3 .image-container img, .feature-section.feature-rest-4 .image-container img {
  all: unset;
  width: 100% !important;
  max-width: 552px !important;
}
.feature-section.feature-mac-2, .feature-section.feature-rest-2 {
  overflow-x: unset;
}
.feature-section.feature-mac-2 .image-container .image-inner-wrapper img, .feature-section.feature-rest-2 .image-container .image-inner-wrapper img {
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .feature-section:nth-child(2) .image-container, .feature-section:nth-child(2) .image-inner-wrapper {
    height: 666px;
    display: flex;
    justify-content: center;
  }
  .feature-section:nth-child(2) .image-container img, .feature-section:nth-child(2) .image-inner-wrapper img {
    width: 347px;
  }
  .feature-section:nth-child(2) .image-container img:nth-of-type(2), .feature-section:nth-child(2) .image-inner-wrapper img:nth-of-type(2) {
    width: 358px;
  }
  .feature-section:nth-child(3) .image-container {
    height: 555px;
    display: flex;
  }
  .feature-section:nth-child(3) .image-container img, .feature-section:nth-child(3) .image-container img:nth-of-type(2) {
    width: 361px;
    left: 0;
  }
  .feature-section:nth-child(4) .image-container img {
    width: 361px;
  }
}
@media screen and (min-width: 1024px) {
  .feature-section .inner-wrapper-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .feature-section .inner-wrapper-div .text-container {
    margin: auto 0;
  }
  .feature-section .inner-wrapper-div .text-container .decoration-container {
    position: relative;
  }
  .feature-section .inner-wrapper-div .text-container .decoration-container img {
    display: unset;
    position: absolute;
    top: -232px;
    left: -88px;
    min-width: 75px;
    min-height: 241px;
    width: 75px;
    height: 241px;
    max-width: 75px;
    max-height: 241px;
  }
  .feature-section:nth-child(odd) .inner-wrapper-div .image-container {
    order: 2;
  }
  .feature-section:nth-child(3) .image-container {
    width: 552px;
  }
  .feature-section:nth-child(4) .inner-wrapper-div {
    grid-template-columns: 554px 1fr;
  }
}
.cta-section {
  margin-top: 120px;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.cta-section .cta-inner-wrapper {
  max-width: 1160px;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
}
.cta-section .cta-inner-wrapper .text-container {
  order: 1;
  color: #10284b;
}
.cta-section .cta-inner-wrapper .text-container p {
  letter-spacing: 0.08rem;
  line-height: 22px;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-family: armingrotesk-regular;
  font-weight: 700;
  color: #381fd1;
}
.cta-section .cta-inner-wrapper .text-container p:nth-of-type(2) {
  font-family: armingrotesk-normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
  margin: 1rem 0 2rem 0;
  color: #10284b;
}
.cta-section .cta-inner-wrapper .text-container h2 {
  font-size: 3rem;
  font-family: armingrotesk-black;
  letter-spacing: -0.01rem;
  line-height: 53px;
}
.cta-section .cta-inner-wrapper .image-container {
  display: flex;
  justify-content: center;
}
.cta-section .cta-inner-wrapper .image-container img {
  width: 100%;
  max-width: 481px;
}
.cta-section .cta-inner-wrapper .image-container img:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cta-section .cta-inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .cta-section .cta-inner-wrapper .text-container {
    order: unset;
    margin: auto 0;
    max-width: 433px;
  }
  .cta-section .cta-inner-wrapper .image-container {
    position: relative;
  }
  .cta-section .cta-inner-wrapper .image-container img:nth-of-type(2) {
    display: unset;
    position: absolute;
    bottom: -84px;
    left: -90px;
    width: 135px;
    height: 168px;
  }
}
.testimonial-section {
  margin-top: 160px;
  padding: 1rem;
}

.testimonials-container {
  width: 100%;
  max-width: 960px;
  margin: 40px auto 0 auto;
  background: #381fd1;
  border-radius: 40px;
}

.testimonial {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 2rem;
  padding: 0 1.5rem;
  height: 500px;
}
.testimonial img {
  width: 80px;
  border-radius: 50%;
}
.testimonial figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fedb63;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  line-height: 22px;
}
.testimonial figcaption span {
  width: 226px;
}
.testimonial blockquote {
  font-size: 2rem;
  font-family: armingrotesk-black;
  color: #fff;
  line-height: 35px;
  letter-spacing: -0.01rem;
}

@media screen and (min-width: 1024px) {
  .testimonial {
    flex-direction: row;
    align-items: center;
    height: 408px;
    padding: 2rem 3rem;
  }
  .testimonial img {
    width: 160px;
  }
  .testimonial figcaption {
    gap: 6rem;
  }
  .testimonial blockquote {
    font-size: 3rem;
    line-height: 53px;
  }
}
.step-container {
  background: #edede0;
  padding: 2rem;
  border-radius: 2rem;
  width: calc(100vw - 116px);
  color: #10284b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.step-container .step {
  color: #381fd1;
  margin-bottom: 1rem;
}
.step-container h3 {
  font-family: armingrotesk-black, sans-serif;
  font-size: 2rem;
  line-height: 35px;
}
.step-container .desc {
  font-family: armingrotesk-semibold, sans-serif;
  margin: 1rem 0 2rem 0;
}

@media screen and (min-width: 1024px) {
  .step-container {
    width: unset;
    padding: unset;
  }
}
.get-started-section {
  padding: 1rem;
  margin-top: 160px;
}
.get-started-section .steps-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .get-started-section .steps-container {
    background: #edede0;
    border-radius: 2rem;
    gap: 73.7px;
    padding: 64px 100px;
    max-width: 1160px;
    margin: 7rem auto 0 auto;
  }
}
.features2-section {
  margin-top: 4rem;
  padding: 1rem;
  overflow-x: hidden;
}
.features2-section .outer-wrapper-div {
  margin: 4rem 0 7rem 0;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
}
.features2-section .inner-wrapper-div {
  position: relative;
  max-width: 960px;
}
.features2-section .inner-wrapper-div .blob1, .features2-section .inner-wrapper-div .blob2 {
  position: absolute;
  z-index: -1;
}
.features2-section .inner-wrapper-div .blob1.blob1, .features2-section .inner-wrapper-div .blob2.blob1 {
  width: 672px;
  top: -42px;
  left: -455px;
}
.features2-section .inner-wrapper-div .blob1.blob2, .features2-section .inner-wrapper-div .blob2.blob2 {
  width: 616px;
  bottom: -130px;
  right: -294px;
}
.features2-section .features-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.features2-section .features-grid .item {
  border-radius: 40px;
  line-height: 22px;
  color: #10284b;
  text-align: center;
}
.features2-section .features-grid .item p {
  margin: 2rem 0;
  letter-spacing: 0.08rem;
}
.features2-section .features-grid .item img {
  margin: 2rem 0 0 0;
}
.features2-section .features-grid .contrast-checker {
  background: #99d6cc;
  padding: 0 2rem;
}
.features2-section .features-grid .focus-order {
  background: #fedb63;
  padding: 0 2rem;
}
.features2-section .features-grid .landmarks {
  background: #fc6f6b;
  padding: 0 2rem;
  overflow: hidden;
}
.features2-section .features-grid .landmarks img {
  margin: -0.4rem 0 0 0;
  transform: translateY(6px);
}
.features2-section .features-grid .vision-simulator {
  height: 376px;
  background: #a599f0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features2-section .features-grid .vision-simulator p {
  margin: unset;
  position: absolute;
  bottom: 2rem;
  padding: 0 1rem;
}
.features2-section .features-grid .vision-simulator img {
  width: 1097px;
  max-width: 1097px;
  margin: 3rem 0 0 0;
}
.features2-section .features-grid .touch-targets {
  background: #fedb63;
  padding: 0 2rem;
}
.features2-section .features-grid .touch-targets.code-snippets {
  overflow: hidden;
  height: 376px;
  position: relative;
}
.features2-section .features-grid .touch-targets.code-snippets img {
  width: 550px;
  max-width: 550px;
  transform: translate3d(-50%, -500px, 0px);
  filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 8px 60px);
}
.features2-section .features-grid .touch-targets.code-snippets p {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.features2-section .features-grid .works {
  background: #99d6cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}
.features2-section .features-grid .works img {
  margin: 3rem 0 0 0;
}
.features2-section .features-grid .works .stark-logo-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 36px;
  transform: translateY(-32px);
  box-shadow: rgba(0, 0, 0, 0.28) 0px 2.13592px 4.27184px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}
.features2-section .features-grid .works .stark-logo-wrapper img {
  margin: unset;
}
.features2-section .features-grid .works p {
  margin: 3.5rem 0 2rem 0;
  padding: 0 1.5rem;
}
.features2-section .features-grid .works.mac-works {
  justify-content: space-between;
  padding-bottom: 0;
}
.features2-section .features-grid .works.mac-works img {
  padding: 2rem 0 0 0;
}
.features2-section .features-grid .education {
  background: #fc6f6b;
  padding: 0 2rem;
  overflow: hidden;
}
.features2-section .features-grid .education img {
  margin: -0.4rem 0 0 0;
  transform: translateY(4.25px);
}
.features2-section .features-grid .education.mac-education {
  overflow: hidden;
  height: 376px;
  position: relative;
}
.features2-section .features-grid .education.mac-education img {
  height: unset;
  width: 550px;
  max-width: 550px;
  transform: translate3d(-25px, -425px, 0px);
}
.features2-section .features-grid .education.mac-education p {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.features2-section .features-grid .alt-text {
  background: #a599f0;
  padding: 0 2rem;
}
.features2-section .features-grid .alt-text img {
  margin: 3rem 0 0 0;
}
.features2-section .features-grid .live-preview {
  background: #fedb63;
  height: 376px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.features2-section .features-grid .live-preview img {
  position: absolute;
  top: 72px;
  width: 725px;
  right: 0;
  margin: unset;
}
.features2-section .features-grid .live-preview.mac-connects {
  flex-direction: column;
  align-items: center;
}
.features2-section .features-grid .live-preview.mac-connects img {
  all: unset;
  max-width: 400px;
}
.features2-section .features-grid .typography {
  background: #99d6cc;
  padding: 0 2rem;
}
.features2-section .features-grid .typography img {
  margin: 3rem 0 0 0;
}
.features2-section .features-grid .sso {
  background: #fedb63;
  padding: 0 2rem;
}
.features2-section .features-grid .fast {
  background: #a599f0;
  height: 376px;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.features2-section .features-grid .fast p {
  margin: 2.5rem 0 0 0;
}
.features2-section .features-grid .fast img {
  top: -2px;
  width: 900px;
  max-width: 900px;
  position: absolute;
  margin: unset;
}
.features2-section .features-grid .fast.mac-fast img {
  top: unset;
  bottom: -20px;
}

@media screen and (min-width: 768px) {
  .features2-section .features-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "a c" "d d" "e f" "g f" "h i" "h j" "k j" "l l";
  }
  .features2-section .features-grid .contrast-checker {
    grid-area: a;
  }
  .features2-section .features-grid .focus-order {
    grid-area: b;
  }
  .features2-section .features-grid .landmarks {
    grid-area: c;
  }
  .features2-section .features-grid .landmarks img {
    height: 81%;
  }
  .features2-section .features-grid .vision-simulator {
    grid-area: d;
  }
  .features2-section .features-grid .touch-targets {
    grid-area: e;
  }
  .features2-section .features-grid .touch-targets.code-snippets img {
    transform: translate3d(-36%, -500px, 0px);
  }
  .features2-section .features-grid .works {
    grid-area: f;
  }
  .features2-section .features-grid .works .stark-logo-wrapper {
    width: 160px;
    height: 160px;
  }
  .features2-section .features-grid .education {
    grid-area: g;
  }
  .features2-section .features-grid .education img {
    height: 81%;
  }
  .features2-section .features-grid .alt-text {
    grid-area: h;
  }
  .features2-section .features-grid .live-preview {
    grid-area: i;
  }
  .features2-section .features-grid .typography {
    grid-area: j;
  }
  .features2-section .features-grid .sso {
    grid-area: k;
  }
  .features2-section .features-grid .fast {
    grid-area: l;
  }
}
@media screen and (min-width: 1024px) {
  .features2-section .features-grid .contrast-checker img {
    max-width: 360px;
  }
  .features2-section .features-grid .focus-order img {
    max-width: 378px;
  }
  .features2-section .features-grid .landmarks img {
    max-width: 390px;
  }
  .features2-section .features-grid .touch-targets img {
    max-width: 342px;
  }
  .features2-section .features-grid .works img {
    max-width: 376px;
  }
  .features2-section .features-grid .education img {
    max-width: 342px;
  }
  .features2-section .features-grid .alt-text img {
    max-width: 360px;
  }
  .features2-section .features-grid .typography img {
    max-width: 360px;
  }
  .features2-section .features-grid .sso img {
    max-width: 307px;
  }
}
footer {
  background: #10284b;
  padding: 5rem 1rem;
}
footer .footer-inner-wrapper {
  max-width: 1200px;
  margin: auto;
}
footer .heading-logo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer nav {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2.5rem 1.5rem;
}
footer nav .nav-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
footer nav .nav-ul h3 {
  color: #fff;
  font-size: 0.875rem;
  font-family: armingrotesk-black;
  line-height: 21px;
  letter-spacing: 0.08rem;
}
footer nav .nav-ul li {
  margin-bottom: 0.5rem;
  font-family: armingrotesk-semibold;
}
footer nav .nav-ul li a {
  color: #fff;
  text-decoration: none;
}
footer nav .nav-ul li a:hover {
  text-decoration: underline;
}
footer .socials-copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 1rem;
}
footer .socials-copyright-wrapper nav {
  margin: unset;
}
footer .socials-copyright-wrapper .socials {
  list-style-type: none;
  display: flex;
  gap: 0.75rem;
}
footer .socials-copyright-wrapper .socials a {
  transition: 0.2s;
}
footer .socials-copyright-wrapper .socials a:hover, footer .socials-copyright-wrapper .socials a:focus {
  transform: scale(1.2);
  transition: 0.2s;
}
footer .socials-copyright-wrapper .socials a:hover img, footer .socials-copyright-wrapper .socials a:focus img {
  transform: scale(1.2);
  transition: 0.2s;
}
footer .socials-copyright-wrapper .socials img {
  width: 30px;
}
footer .socials-copyright-wrapper p {
  color: #fedb63;
  letter-spacing: 0.08rem;
}

.error-page {
  margin: 3.5rem auto 0 auto;
  padding: 0 1rem;
  color: #10284b;
  max-width: 960px;
}
.error-page .uppercase {
  color: #381fd1;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}
.error-page h1 {
  padding-right: 1rem;
  max-width: 460px;
  font-size: 3.5rem;
  font-family: armingrotesk-black;
  line-height: 62px;
}
.error-page .desc {
  font-family: armingrotesk-regular;
  max-width: 548px;
  line-height: 30px;
  font-size: 1.25rem;
  margin: 1.5rem 0 2rem 0;
}
.error-page .links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.error-page .links-wrapper .contact-us-link {
  background: transparent !important;
  color: #10284b !important;
  border: 2px solid #10284b !important;
}

@media screen and (min-width: 768px) {
  .error-page h1 {
    padding-right: unset;
    letter-spacing: -0.09rem;
    font-size: 5.375rem;
    line-height: 96px;
  }
}
@media screen and (min-width: 1024px) {
  .error-page {
    padding: unset;
  }
  .error-page .links-wrapper .contact-us-link:hover {
    opacity: unset !important;
    background: #10284b !important;
    color: #fff !important;
  }
}
.sketch-download-platform-container {
  margin: 6rem 0 0 0;
}

.platform-download-container {
  max-width: 1160px;
  margin: 2rem auto 0 auto;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .platform-download-container {
    padding: 1rem 2rem 0 2rem;
    justify-content: space-between;
  }
  .platform-download-container img {
    width: 80px;
    height: 70px;
  }
}
.purple-link, .error-page .links-wrapper .contact-us-link {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background: #381fd1;
  font-family: armingrotesk-regular;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 6px;
  min-height: 2.75rem;
  padding: 0.375rem 1.5rem;
}

.mac-link {
  padding: unset !important;
  border: unset !important;
  border-radius: unset !important;
  background: transparent !important;
  display: flex !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  .purple-link, .error-page .links-wrapper .contact-us-link, .mac-link {
    transition: 0.2s;
  }
  .purple-link:focus, .error-page .links-wrapper .contact-us-link:focus, .mac-link:focus {
    outline-color: #06a5ff;
    outline-offset: 4px;
  }
  .purple-link:hover, .error-page .links-wrapper .contact-us-link:hover, .mac-link:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
}
.h2-svg-container {
  display: flex;
  justify-content: center;
}
.h2-svg-container h2 {
  position: relative;
  font-size: 3rem;
  color: #10284b;
  font-family: armingrotesk-black;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: -0.01rem;
  text-align: center;
}
.h2-svg-container img {
  display: none;
}

.testimonial-section .h2-svg-container {
  padding-bottom: 1rem;
}

footer .h2-svg-container h2 {
  color: #fff;
  text-align: start;
  max-width: 772px;
}

@media screen and (min-width: 1024px) {
  .video-section h2, .testimonial-section h2, .get-started-section h2, .features2-section h2, .sketch-download-platform-container h2 {
    position: absolute;
    max-width: 960px;
    font-size: 3.5rem;
    line-height: 62px;
    z-index: 1;
  }
  .video-section .h2-svg-container img, .testimonial-section .h2-svg-container img, .get-started-section .h2-svg-container img, .features2-section .h2-svg-container img, .sketch-download-platform-container .h2-svg-container img {
    display: unset;
  }
  .video-section.get-started-section h2, .testimonial-section.get-started-section h2, .get-started-section.get-started-section h2, .features2-section.get-started-section h2, .sketch-download-platform-container.get-started-section h2 {
    line-height: 53px;
  }
  .video-section .h2-svg-container img {
    margin-left: 38.75rem;
    margin-top: 3.5rem;
    -moz-transform: translateX(0.5rem);
  }
  .testimonial-section .h2-svg-container img {
    margin-top: 3.6rem;
  }
  .get-started-section .h2-svg-container img {
    margin-left: 6.375rem;
    transform: scaleX(1.1825) scaleY(1.025) translateY(-8px);
  }
  .features2-section .h2-svg-container img {
    transform: translate(90px, 46px);
  }
  .features2-section .h2-svg-container img:nth-of-type(2) {
    width: 60px;
    height: 77px;
    transform: translate(115px, -28px);
  }
  .sketch-download-platform-container .h2-svg-container img {
    margin-left: -202px;
    margin-top: -4px;
    width: 271px;
    transform: scaleY(1.25);
    z-index: -1;
  }
  footer .h2-svg-container h2 {
    font-size: 3.5rem;
  }
}
.wall-text-bg {
  background: #fff;
  padding: 3rem 1rem;
}
.wall-text-bg .wall-text-wrapper {
  max-width: 600px;
  margin: auto;
  color: #10284b;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.wall-text-bg .wall-text-wrapper p, .wall-text-bg .wall-text-wrapper a {
  font-size: 1.25rem;
  font-family: armingrotesk-regular, sans-serif;
}
.wall-text-bg .wall-text-wrapper strong, .wall-text-bg .wall-text-wrapper h2, .wall-text-bg .wall-text-wrapper h3 {
  font-family: armingrotesk-black, sans-serif;
}
.wall-text-bg .wall-text-wrapper h2 {
  font-size: 2.25rem;
}
.wall-text-bg .wall-text-wrapper h3 {
  font-size: 2rem;
}
.wall-text-bg .wall-text-wrapper a {
  color: #381fd1;
}
.wall-text-bg .wall-text-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wall-text-bg .wall-text-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .wall-text-bg {
    padding: 6rem 1rem;
  }
}/*# sourceMappingURL=general.css.map */