.wall-text-bg {
    background: #fff;
    padding: 3rem 1rem;

    .wall-text-wrapper {
        max-width: 600px;
        margin: auto;
        color: $dark-blue;

        p, a {
            font-size: 1.25rem;
            font-family: armingrotesk-regular, sans-serif;
        }

        strong, h2, h3 {
            font-family: armingrotesk-black, sans-serif;
        }

        h2 {
            font-size: 2.25rem;
        }

        h3 {
            font-size: 2rem;
        }

        display: flex;
        flex-direction: column;
        gap: 3rem;

        div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            padding-left: 1.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .wall-text-bg {
        padding: 6rem 1rem;
    }
}