.wall-text-bg {
    background: #fff;
    padding: 3rem 1rem;

    .wall-text-wrapper {
        max-width: 600px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .wall-text-bg {
        padding: 6rem 1rem;
    }
}